@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;

}

body {
    background-color: rgb(24, 24, 24);
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

//   BEGIN HEADER

header {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(33, 33, 33);
    color: white;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    .menu-nav {
        display: flex;
        font-size: 1.5rem;

        nav {
            display: flex;
            align-items: center;
            margin-right: 1.8rem;
        }

        .logo {
            display: flex;
            align-items: center;
            font-size: 1.5rem;

            i {
                color: red;
                font-size: 1.8rem;
            }

            span {
                font-weight: 500;
                letter-spacing: -0.2rem;
            }
        }

    }

    .buscador {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(50, 50, 50);
        padding: 0 1rem 0 0;
        border: 0.0001rem solid rgb(50, 50, 50);

        input[type=text] {
            width: 35rem;
            height: 2.5rem;
            background-color: black;
            color: white;
            border: 0.1rem solid rgb(8, 8, 8);
        }

        i {
            color: white;
            padding-left: 1rem;
            font-size: 1.3rem;
        }
    }

    .googleItems {
        font-size: 1.5rem;
        display: flex;
        align-items: center;

        i {
            margin: 0 1rem;
        }

        .last {
            font-size: 2.5rem;
        }
    }
}

//END HEADER

//   BEGIN MAIN

main {
    background-color: rgb(24, 24, 24);
    margin: 0 4.8rem;
    padding: 5rem 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 1.5rem;
    color: white;

    // INIT VIDEO MAIN

    .description-container {
        padding-bottom: 1rem;
    }

    .video-description {
        margin-bottom: -0.8rem;

        h1 {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    .video-stats {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .stats {
            font-weight: normal;
            font-size: 0.9rem;
            color: rgb(170, 170, 170);
        }

        .stats-items {
            display: flex;
            align-items: flex-end;


            .items {
                margin: 0 0.7rem;

                i {
                    font-size: 1rem;
                    margin: 0 0.2rem;
                }

                .dots {
                    font-size: 1.5rem;
                }
            }
        }

        // END MAIN VIDEO SECTION
    }

    //INIT DESCRIPTION SECTION
    .page-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .page-content {
            display: flex;
            align-items: center;

            .page-logo {
                width: 3rem;
                height: 3rem;
                background-color: white;
                border-radius: 50%;
                margin-right: 1rem;
            }

            .page {
                h2 {
                    margin-bottom: -0.6rem;
                    font-size: 1rem;
                }

                p {
                    font-size: 0.75rem;
                    font-weight: normal;
                    color: rgb(170, 170, 170);
                }
            }
        }

        span {
            padding: 0.7rem 1rem;
            background-color: rgb(204, 1, 0);
            color: white;
            border-radius: 0.2rem;
            font-size: 0.9rem;
        }
    }

    //INIT DESCRIBE CONTAINER

    .describe-container {
        padding: 0 1rem;

        ul {
            list-style-type: none;

            span {
                color: rgb(61, 166, 255);
            }

            li {
                font-size: 0.9rem;
                margin: 0.2rem 0;
            }
        }

        .mostrarBtn {
            padding-left: 2.4rem;
            font-size: 0.8rem;
            color: rgb(170, 170, 170);
        }

        .mostrar {
            display: none;
        }
    }

    .describe-section {
        padding: 1rem 0;
        border-top: 0.1px solid rgb(48, 48, 48);
        border-bottom: 0.1px solid rgb(48, 48, 48);
    }

    .comment-container {
        padding: 1rem 0;

        .stats-comments {
            display: flex;
            align-items: center;
            padding-bottom: 1rem;

            .comment-number {
                margin-right: 2rem;
                font-size: 1rem;
            }

            .comment-sort {
                display: flex;
                align-items: center;
                font-size: 0.9rem;

                i {
                    font-size: 1.8rem;
                    margin-right: 0.4rem;
                }
            }
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            background-color: rgb(244, 81, 30);
            border-radius: 50%;
            margin-right: 1rem;
        }

        .add-comment {
            display: flex;


            .user {
                span {
                    font-size: 1.5rem;
                }
            }

            .comment {
                padding-top: 0.3rem;
                width: 100%;


                input {
                    width: 100%;
                    height: 1.8rem;
                    background-color: rgb(24, 24, 24);
                    border: none;
                    border-bottom: 0.1px solid rgb(48, 48, 48);
                    color: white;
                }
            }

        }
    }

    .otherComment-container {
        display: flex;
        padding: 2rem 0 0 0;
        align-items: flex-start;


        .otherComment-content {
            p {
                margin: 0;
            }

            .otherComment-name {
                display: flex;
                align-items: flex-end;

                p {
                    margin-right: 0.3rem;
                    font-size: 0.8rem;
                }

                span {
                    font-size: 0.7rem;
                    color: rgb(170, 170, 170);
                }
            }

            .otherComment-content {
                padding: 0.8rem 0;

                p {
                    font-size: 0.9rem;
                }
            }

            .otherComment-icons {
                display: flex;
                font-size: 0.8rem;

                .up {
                    margin-right: 1rem;
                }

                .down {
                    margin-right: 1rem;
                }

                .responder {
                    padding-left: 1rem;
                }
            }

            .moreAnswers {
                padding: 1rem 0;
                color: rgb(61, 166, 255);
                font-size: 0.9rem;

                i {
                    margin-right: 0.5rem;
                }
            }
        }
    }


    .sidebar-container {
        .tags {
            display: flex;
            align-items: center;
            padding: 1rem 0;


            .pill {
                background-color: rgb(48, 48, 48);
                padding: 0.5rem 0.8rem;
                margin: 0 0.3rem;
                border-radius: 1rem;
                border: 0.1rem solid rgb(65, 64, 64);
                font-size: 0.83rem;
            }

            .active {
                background-color: white;
                color: black;
            }

            .icon-tag {
                padding-left: 0.2rem;
            }
        }

        .videoThumbnails {
            padding-bottom: 1rem;
            .thumbnail-container {
                display: flex;


                .thumbnailImage {
                    display: flex;
                    position: relative;
                    width: 165px;

                    img {

                        width: 165px;
                        height: auto;
                    }

                    span {
                        position: absolute;
                        z-index: 100;
                        bottom: 0;
                        right: 0;
                        padding-bottom: 0.5rem;
                        padding-right: 0.5rem;
                        background-color: rgb(0, 0, 0);
                        font-size: 0.8rem;
                    }
                }

                .thumbnail-description{
                    padding-left: 0.5rem;
                    line-height: 1.3rem;
                    h2{
                        font-size: 0.9rem;
                        margin: 0;
                        padding: 0.4rem 0;
                    }
                    p{
                        margin: 0;
                        font-size: 0.8rem;
                        color: rgb(154,154,154);
                        
                    }
                }
            }
        }
    }
}